<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JacobianMatrixViewer</string>
	<key>CFBundleIconFile</key>
	<string>JacobianMatrixViewer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.ibk.JacobianMatrixViewer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JacobianMatrixViewer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>ExcludeSyncKeys</key>
	<array>
		<string>PreferencesGeneralViewSavedFrame</string>
		<string>HasInsertedDefaultSnippets</string>
		<string>HasImportedFromVersion2</string>
		<string>HasInsertedDefaultCommands3</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSServices</key>
	<array/>
</dict>
</plist>
